* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    background-color: #b91547;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */

}

p {
    /* text-transform: uppercase; */
    font-size: 30px;
    /* color: white; */
}

.d-none{
    display: none;
}
